header {
    background-color: var(--main-pink);
}

.resources-wrapper {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-top:40px;
}



.step-wrapper {
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;

}


.grow-step {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    width:325px;
    padding:30px;
}



  .grow-step img {
      height:250px;
  }

  .grow-step h4 {
      margin-top:20px;
  }
  
  .grow-step p {
    font-size:14px;
    
}

.grow-step a, .grow-steap a:visited {
    color: #C2969D;
    font-weight:500;
    transition: .3 ease-in-out;
}
.grow-step a:hover {
    color: var(--main-dark);
}
  .resource-img img {
      width:150px;
  }




  .resource-list{
    width: 500px;
    color:var(--not-white);
    font-family:montserrat;
    margin-bottom:5px;
    }

    .resource-list  ul{
      height: 335px;
      overflow: hidden;
      padding-left: 15px;
    }
    
    .resource-list  ul.active{
    height: auto;
    }
    
    .resource-list  ul li{
    margin-bottom: 5px;
    list-style: none;
    position: relative;
    }
    
    .resource-list  ul li:before{
      content: "";
      position: absolute;
      top: 8px;
      left: -12px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #bfbfbf;
    }



.resource-list .toggle_btn{
    font-weight: 700;
    font-family:montserrat;
    color:var(--main-pink);
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
    }
    
    .resource-list .toggle_btn.active .fas{
    transform: rotate(180deg);
    }








    .resource-list2{
        width: 500px;
        color:var(--not-white);
        font-family:montserrat;
        margin-bottom:5px;
        }
    
        .resource-list2  ul{
          height: 340px;
          overflow: hidden;
          padding-left: 15px;
        }
        
        .resource-list2  ul.active{
        height: auto;
        }
        
        .resource-list2  ul li{
        margin-bottom: 5px;
        list-style: none;
        position: relative;
        }
        
        .resource-list2  ul li:before{
          content: "";
          position: absolute;
          top: 8px;
          left: -12px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: #bfbfbf;
        }
    
    
    
    .resource-list2 .toggle_btn2{
        font-weight: 700;
        font-family:montserrat;
        color:var(--main-pink);
        cursor: pointer;
        font-size: 15px;
        padding: 10px;
        }
        
        .resource-list2 .toggle_btn2.active .fas{
        transform: rotate(180deg);
        } 


        .resource-list img, .resource-list2 img {
            width:250px;
        }

        .tabs {
            display: flex;
            flex-wrap: wrap; 
            margin-top:25px;
            
        }
        .tabs label {
            order: 1; 
            display: block;
            padding: 1rem 2rem;
            margin-right: 0.2rem;
            cursor: pointer;
          background: var(--main-pink);
          font-family:montserrat;
          font-weight: bold;
          transition: background ease 0.2s;
        }
        
        .tabs .tab {
          order: 99; 
          flex-grow: 1;
            width: 100%;
            display: none;
          padding: 1rem;
          background: #f3f3f3;
        }
        .tabs input[type="radio"] {
            display: none;
        }
        .tabs input[type="radio"]:checked + label {
            background: #f3f3f3
        }
        .tabs input[type="radio"]:checked + label + .tab {
            display: block;
        }
        
        @media (max-width: 45em) {
          .tabs .tab,
          .tabs label {
            order: initial;
          }
          .tabs label {
            width: 100%;
            margin-right: 0;
            margin-top: 0.2rem;
          }
        }
        
        .tab li {
          font-family: montserrat;
          
        }
        
        .tab h5 {
          color:var(--main-dark);
          margin-top:15px;
          margin-bottom:15px;
        }



        .accordion {
            background-color:#f2f2f2;
            color: var(--main-dark);
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            transition: 0.4s;
            border:none;
            outline:none;
            font-family:montserrat;
            font-size:20px;
            font-weight:600;
          }
          
          /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
          .active, .accordion:hover {
            background-color: var(--main-pink);
            
          }
          
          /* Style the accordion panel. Note: hidden by default */
        
          .panel {
            font-family:montserrat;
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
          }
        
        
          .panel p {
              font-size:16px;
              font-weight:400;
              margin-top:10px;
          }
        
          .accordion:after {
            content: '\02795'; /* Unicode character for "plus" sign (+) */
            font-size: 13px;
            color: #777;
            float: right;
            margin-left: 5px;
          }
          
          .active:after {
            content: "\2796"; /* Unicode character for "minus" sign (-) */
          }
        
        .accordian-wrapper {
            background-color: #f3f3f3;
            padding:10px;
        }

        .alt-button2 {
            background:transparent;
            border:0;
            font-size:40px;
            transition: .3s ease-in-out;
            color:white;
            font-family:poppins;
            text-transform:uppercase;
            font-weight:700;
        }

        .alt-button2:hover {
            color:var(--main-dark);
        }

       ul {
           font-family: montserrat;
       }

       blockquote {
        margin-left:20px;
        border-left: 3px solid var(--main-pink);
        padding-left:10px;
        font-family:montserrat;
    }
    